* {box-sizing:border-box;}
html,
body,.container {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
.container {
  height: 100%;
  position: relative;
}
p,.header_title{
  font-size: 40px;
}

div{
  position: relative;

}

.price{
  font-size: 40px;
}
.header_title{
  color: #ffff00;
}

#gain{
  border-radius: 3px;
  padding: 10px 10px 10px 10px;

}
#gainp,#currentinfop{
  color:
}

.options-box {
  background: #707070;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 500px;
  bottom: 0px;
}

.nav{
  padding-bottom: 0.5em;
  list-style: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.nav_item:hover {
  cursor: pointer;
}

.nav_item {
  padding: 10px;
}

li{
  color: #ffffff;
  font-size: 70px;
}


ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#overflow {
  overflow: scroll;
}
#info {
  background: #808080;
  top: 0px;
  bottom:0px;
  height: 100%;
  left: 500px;
  position: absolute;
  right: 0px;
  font-size: 90px;
  text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
